{% extends 'chat_base.html' %}

{% block extrastyle %}
<style>
    #document {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 100vh;
        width: 100vw;
    }
    #document #toolbar {
        flex: 13 1 0px;
        overflow: hidden;
        background-color: #272e30;
        color: #fff;
       
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #document #toolbar .drag-area {
        padding: 6px 10px;
        text-align: center;
        border: 2px dotted #ccc;
        cursor: pointer;
        border-radius: 8px;
        background-color: #4d5b5f;
    }
    #document #toolbar .drag-active {
        background-color: #899a9f;
    }
    #document #toolbar .drag-area i {
        font-size: 1.5rem;
    }
    #document #toolbar .drag-file {
        margin: 0;
    }
    #document #toolbar .drag-area .drag-area-content {
        margin-top: 5px;
    }

    #document #pdf {
        padding-bottom: 42px;
        flex: 37 1 0px;
        overflow: hidden;
        border: 1px solid lightgrey;
    }

    #document #pdf #pdf-obj-container {
        height: 100%;
    }

    #document #chat {
        flex: 37 1 0px;
        overflow: hidden;
        border: 1px solid lightgray;
    }

    #document #chat .chat-message-row {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

    #document #chat .chat-message-row.ai {
        justify-content: flex-start;
    }
    #document #chat .chat-message-row.human {
        justify-content: flex-end;
    }

    #document #chat .chat-message-row.ai .chat-message {
        background-color: #f9f9fe;
    }

    #document #chat .chat-message-row.human .chat-message {
        background-color: #1777ff;
        color: #fff;
    }
    #document #chat .chat-message {
        max-width: 500px;
        border-radius: 8px;
        padding: 6px 12px;
        box-shadow: 0 0 3px #d1d2da;
    }

    .chat-header, .pdf-header {
        height: 42px;
        padding: 0px 6px 10px 6px;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
    }

    #conversation {
        flex-grow: 1;
        overflow: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #chat-footer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #chat-form-input {
        width: 100%;
        padding: 0px 10px;
        display: flex;
    }
     #chat-form-input input[type=text] {
        padding: 0 5px;
        width: 100%;
        height: 32px;
        margin: 0;
        box-sizing: border-box;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

     #chat-form-input button {
        background-color: #1777ff;
        width: 40px;
        height: 32px;
        color: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .conversation-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100% - 42px);
    }
    #list-messages {
        width: 100%;
        padding: 0 10px;
    }
    .choice-link-chat {
        width: 100%;
    }
    .choice-link-chat:hover { 
        color: rgba(255, 255, 255, 0.55);
    }
    #list-chats {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .btn-remove-chat {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block conteudo %}
<main>
    <section id="document">
        <div id="toolbar">
            <div class="input-file-section">
                <div class="drag-area">
                    <i class="fa fa-solid fa-add"></i><span> Novo chat</span> 
                    <div class="drag-area-content">
                        <p class="drag-file">Solte o PDF aqui</p> 
                    </div>
                    <input type="file" class="file-input" style="display: none;" />
                </div>
            </div>
            <div class="select-chat-section">
                <div id="list-chats"></div>
            </div>
        </div>

        <div id="pdf">
            <div id="pdf-obj-container"></div>
        </div>
        <div id="chat">
            <div class="chat-header">
                <h3>Chat</h3>
            </div>
            <div class="conversation-container">
                <div id="conversation">
                    <div id="list-messages"></div>
                </div>
                <div id="chat-footer">
                    <form id="chat-form-input">
                        <input type="text" id="chat-input-ask" />
                        <button type="submit" class="btn" id="btn-send-ask">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <input type="hidden" id="chat-id-open">
    <input type="hidden"  id="user-id" value="{{request.user.id}}">
</main>

{% endblock %}

{% block extrajs %}
<script>
    const inputTxtAsk = $('#chat-input-ask')
    const btnSendAsk = $("#btn-send-ask")
    const listMessagesEl = $("#list-messages")
    const chatFormInput = $("#chat-form-input")
    const chatIdOpenEl = $('#chat-id-open')
    const listChatsEl = $('#list-chats')
    const pdfContainer = $('#pdf-obj-container')
    const body = document.querySelector('body')
    const dropArea = document.querySelector(".drag-area")
    const fileInput = dropArea.querySelector(".file-input")
    const userId = $("#user-id")

    let chatAtual = null

    $.ajaxSetup({
        headers: {"X-CSRFToken": '{{ csrf_token }}' },
    });

    body.addEventListener('click', function(event) {
        if(event.target.classList.contains('btn-page') && chatAtual) {
            const page = event.target.attributes['data-page'].value
            const url = `${chatAtual.documento}#page=${page}`
            loadDocumento(chatAtual.titulo, url)
        }

        if(event.target.classList.contains('choice-link-chat')) {
            const chatId = event.target.attributes['data-id'].value
            $('.choice-link-chat').removeClass('btn-info')
            event.target.classList.add('btn-info')
            getChat(chatId)
        }

        if(event.target.classList.contains('btn-remove-chat')) {
            const chatId = event.target.attributes['data-remove-id'].value
            deleteChat(chatId)
        }
    })

    $(document).ready(() => {

        $('select:not(.filtered):not(.admin-autocomplete)').select2({dropdownAutoWidth : true});

        chatFormInput.submit((e) => {
            e.preventDefault()
            const ask = inputTxtAsk.val()
            inputTxtAsk.val('')
            sendAsk(ask)
        })
        
        dropArea.onclick = () => {
            fileInput.click();
        };

        fileInput.addEventListener("change", function (e) {
            const target = e.target;
            newChat(target)
        });

        dropArea.addEventListener("dragover", (event) => {
            event.preventDefault();
            dropArea.classList.add("drag-active");
        });

        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("drag-active");
        });

        dropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dropArea.classList.remove("drag-active")
            const target = e.dataTransfer;
            newChat(target)
        });
        
        if(userId.val()) {
            getUserChats(userId.val())
            .then((data) => data.json())
            .then((data) => fillListChats(data.results))
            .then(() => {
                const url = window.location.search
                const urlParams = new URLSearchParams(url);
                const documento = urlParams.get('documento')
                getChat(documento)
                    
                    
                let links = $('.choice-link-chat')
                links.removeClass('btn-info')

                let link = links.filter((i, e) => e.attributes['data-id'].value === documento)
                if(link.length > 0) {
                    link[0].classList.add('btn-info')
                }
            })
        }
    })


    function fillListChats(chats) {
        let list = ''

        chats.forEach((c) => {
           list += `<div class="choice-link-chat btn" data-id="${c.id}">${c.titulo}</div>`
        })

        listChatsEl.html(list)
    }

    
    function fillChat(data) {
        const {id, mensagens, titulo, documento } = data
        loadDocumento(titulo, documento, id)
        insertConversation(mensagens)
        chatAtual = data
        chatIdOpenEl.val(id)
    }

    function loadDocumento(titulo, url, id) {
        pdfContainer.html(`
            <div class="pdf-header">
                <h3>${titulo}</h3> 
                <i data-remove-id='${id}' class='fa fa-trash btn-remove-chat'></i>
            </div>
            <embed src='${url}' width="100%" height="100%">
        `)
    }


    function insertConversation(mensagens) {
        listMessagesEl.empty()
        mensagens.forEach((e) => appendConversation(e))
        showLatestMessage()

    }

    function clearChat() {
        listMessagesEl.empty()
        pdfContainer.empty()
    }

    function updateChatList(data, type) {
        if(type === 'add') {
            $('.choice-link-chat').removeClass('btn-info')
            listChatsEl.append(`<div class="choice-link-chat btn btn-info" data-id="${data.id}">${data.titulo}</div>`)
        }
        if(type === 'remove') {
            const option = listChatsEl.find(`div[data-id='${data}']`)
            option.remove()
            clearChat()
        }
    }

    function newChat(target) {
        const file = target.files[0]
        const formData = new FormData()
        formData.append('titulo', file.name)
        formData.append('documento', file)
        formData.append('ativo', true)

        $.ajax({
            type:'POST',
            url: `/documento/api/chat/`,
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                updateChatList(data, 'add')
                fillChat(data)
            }
        })

    }

    function getChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'GET',
                url: `/documento/api/chat/${chatId}/?criado_por=${userId.val()}&ativo=true`,
                success: (data) => fillChat(data),
                error: (erro) => console.log(erro)
            })
        } else {
            clearChat()
        }
    }

    function deleteChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'PATCH',
                url: `/documento/api/chat/${chatId}/`,
                data: {
                    ativo: false
                },
                success: (data) => {
                    updateChatList(chatId, 'remove')
                },
                error: () => {}
            })
        }
    }

    function appendConversation(askMsg, loading=true) {
        const getAutor = (autor) => {
            const autores = { 1: 'human', 2: 'ai' }
            return autores[autor] 
        }

        var regex = /\[P(\d)\]/g;

        let textoFormatado = askMsg.texto.replaceAll('\n', '<br>')

        textoFormatado = textoFormatado.replace(regex, function(match, numero) {
            return `<button class="btn-page" data-page="${numero}">${numero}</button>`;
        });

        let row = `
                <div class="chat-message-row ${getAutor(askMsg.autor)}">
                    <div class="chat-message" style="overflow: hidden;">
                        <div class="chat-message-txt">${textoFormatado}</div>
                    </div>
                </div>
            `
        
        listMessagesEl.append(row)
    }

    function removeLoading() {
        $('#list-messages .fa-spinner').parent().parent().parent().remove()
    }

    function showLatestMessage() {
        const conversation = document.querySelector('#conversation')
        const messages = conversation.querySelectorAll('.chat-message-row')
        messages[messages.length -1].scrollIntoView()
    }

    function sendAsk(texto) {
        const data = {
            chat: chatIdOpenEl.val(),
            texto: texto,
            autor: 1
        }

        if(texto) {
            $.ajax({
                type:'POST',
                url: `/documento/api/mensagem/`,
                data: data, 
                beforeSend:() => {
                    btnSendAsk.prop("disabled", true);
                    appendConversation(data)
                    appendConversation({
                        autor: 2,
                        texto: "<i class='fa-solid fa-spinner fa-spin'></i>"
                    })
                    showLatestMessage()
                },
                success: (response) => {
                    removeLoading()
                    appendConversation(response, false)
                },
                error: () =>  removeLoading(),
                complete: () => {
                    showLatestMessage()
                    btnSendAsk.prop("disabled", false);
                }
            })
        }
    }


</script>
{% endblock %}