{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'admin/plugins/select2/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom_adminlte/base-v4.css' %}?v=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
        {% block extrastyle %}{% endblock %}
        <style>
            .cab{
                display: flex;
                flex-direction: row;
                padding: 1em 0.5em;
                box-shadow: 0px 2px 3px 0px #ccc;
                justify-content: space-between;
                background: radial-gradient(circle, rgba(0, 94, 60, 1) 0%, rgba(1, 54, 34, 1) 74%, rgba(0, 54, 34, 1) 100%);
                color: #fff;
            }
        </style>
    </head>
<body>
    <div class="cab">
        <span><i class="fa-solid fa-user"></i><span> {{request.user.name}}</span></span>
        <span> <a href="/admin/logout"><i style="color:white;" class="fa-regular fa-circle-xmark"></i></a></span>
    </div>
    {% block conteudo %}{% endblock %}


    <script src="{% static 'admin/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static 'admin/plugins/jQueryUI/jquery-ui.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'admin/plugins/select2/select2.full.min.js' %}"></script>
    
    <script>
        function getUserChats(userId) {
            return fetch(`/documento/api/chat/?criado_por=${userId}&ativo=true`)
        }
    </script>

    {% block extrajs %} {% endblock %}
</body>
</html>

