{% extends 'chat_base.html' %}
{% load static %}

{% block title %} 
<title>Martinha</title>
{% endblock %}

{% block favicon %} 
<link rel="icon" type="image/x-icon" href="{% static 'imagens/martinha-novo-favicon.ico' %}">
{% endblock %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'documento/chat.css' %}?v=1.2">
{% endblock %}

{% block conteudo %}
<main>
    <section id="document-header">
        <div class="logo-interna-homenagem">
            <img src="{% static 'imagens/martinha_novo.png' %}" alt="">
            <h2 style="margin-top: 5px;">Martinha</h2>
        </div>
        <!-- <img src="{% static 'imagens/logo_ia_video.png' %}" alt="" width="200"> -->
        <img style="margin-left: -115px;" src="{% static 'imagens/defensoria_logo_branca.png' %}" alt="" width="200">
        <div class="document-header-links">
            <a href="/documento/martinha/"><i class="fa-solid fa-house"></i> Dashboard </a>
            <a href="/admin/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
        </div>
        </div>
    </section>
    <section id="document">
        <div id="toolbar">
            <div class="input-file-section">
                <div class="drag-area">
                    <i class="fa-sharp fa-solid fa-cloud-arrow-up" style="color:#00c0ef; font-size: 20px;"></i><span></span> 
                    <div class="drag-area-content">
                        <p class="drag-file"><b>Arraste/solte ou clique aqui</b></p> 
                    </div>
                    <input type="file" class="file-input" style="display: none;" />
                </div>
            </div>
            <div class="select-chat-section">
                <div id="list-chats"></div>
            </div>
        </div>

        <div id="pdf">
            <div id="pdf-obj-container"></div>
        </div>
        <div id="chat">
            <div class="chat-header">
                <h3>Chat</h3>
                <div id="chat-header-actions"></div>
            </div>
            <div class="conversation-container">
                <div id="conversation">
                    <div id="list-messages"></div>
                </div>
                <div id="chat-footer">
                    <form id="chat-form-input">
                        <div id="questionBox" class="hide question-box">
                            <ul id="lista-question">
                            </ul>
                        </div>
                        <input autocomplete="off" type="text" id="chat-input-ask" />
                        <button type="submit" class="btn" id="btn-send-ask">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <input type="hidden" id="chat-id-open">
    <input type="hidden"  id="user-id" value="{{request.user.id}}">
</main>

{% endblock %}

{% block extrajs %}
<script src="{% static 'documento/chat.js' %}?v=1.4"></script>
{% endblock %}