{% extends 'chat_base.html' %}

{% block extrastyle %}
<style>
    #document #chat {
        flex: 37 1 0px;
        overflow: hidden;
        border: 1px solid lightgray;
    }

    #document #chat .chat-message-row {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

    #document #chat .chat-message-row.ai {
        justify-content: flex-start;
    }
    #document #chat .chat-message-row.human {
        justify-content: flex-end;
    }

    #document #chat .chat-message-row.ai .chat-message {
        background-color: #f9f9fe;
    }

    #document #chat .chat-message-row.human .chat-message {
        background-color: #1777ff;
        color: #fff;
    }
    #document #chat .chat-message-row .btn-page {
        border-radius: 24px;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: rgb(156, 182, 218);
        padding: 2px 6px;
        font-size: 12px;
        user-select: none;
    }
    #document #chat .chat-message {
        position: relative;
        max-width: 500px;
        border-radius: 8px;
        padding: 6px 12px;
        box-shadow: 0 0 3px #d1d2da;
    }
    #document #chat .chat-message .clipboard-btn-container {
        float: right;
        font-size: 16px;
        margin-right: -6px;
        padding-left: 3px;
        cursor: pointer;
    }
    #document #chat .chat-header #chat-header-actions {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-right: 5px;
    }
    #document #chat .chat-header #chat-header-actions i {
        color: #272e30;
        cursor: pointer;
    }

    .chat-header, .pdf-header {
        height: 42px;
        padding: 0px 6px 10px 6px;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;
    }

    #conversation {
        flex-grow: 1;
        overflow: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #chat-footer {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    #chat-form-input {
        width: 100%;
        padding: 0px 10px;
        display: flex;
    }
     #chat-form-input input[type=text] {
        padding: 0 5px;
        width: 100%;
        height: 32px;
        margin: 0;
        box-sizing: border-box;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

     #chat-form-input button {
        background-color: #1777ff;
        width: 40px;
        height: 32px;
        color: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .conversation-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100% - 42px);
    }
    #list-messages {
        width: 100%;
        padding: 0 10px;
    }
    .choice-link-chat {
        width: 100%;
    }
    .choice-link-chat:hover { 
        color: rgba(255, 255, 255, 0.55);
    }
    #list-chats {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .question-box{
        position: absolute;
        bottom: 3em;
        box-shadow: 0px 0px 4px 0px gray;
        padding: 1em;
        font-size: 1.2rem;
        border-radius: 5px;
        background-color: white;
        opacity: .9;
    }
    .hide{
        display: none;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li.question {
        padding: 0.3em;
        background-color: #1777ff;
        margin: 0.3em;
        border-radius: 5px;
        color: white;
    }


    .question{
        cursor: pointer;
    }

    .btn-send-fake {
        color: #1777ff;
        cursor: pointer;
    }
    .cab a {
        color: #000 !important;
    }
</style>
{% endblock %}

{% block conteudo %}
<main>
    <section id="document">
        <div id="toolbar">
            <div class="input-file-section">
                <div class="drag-area">
                    <i class="fa-sharp fa-solid fa-cloud-arrow-up" style="color:#00c0ef; font-size: 20px;"></i><span></span> 
                    <div class="drag-area-content">
                        <p class="drag-file">Arraste/solte ou clique aqui para adicionar</p> 
                    </div>
                    <input type="file" class="file-input" style="display: none;" />
                </div>
            </div>
            <div class="select-chat-section">
                <div id="list-chats"></div>
            </div>
        </div>

        <div id="pdf">
            <div id="pdf-obj-container"></div>
        </div>
        <div id="chat">
            <div class="chat-header">
                <h3>Chat</h3>
                <div id="chat-header-actions"></div>
            </div>
            <div class="conversation-container">
                <div id="conversation">
                    <div id="list-messages"></div>
                </div>
                <div id="chat-footer">
                    <form id="chat-form-input">
                        <div id="questionBox" class="hide question-box">
                            <ul id="lista-question">
                            </ul>
                        </div>
                        <input autocomplete="off" type="text" id="chat-input-ask" />
                        <button type="submit" class="btn" id="btn-send-ask">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <input type="hidden" id="chat-id-open">
    <input type="hidden"  id="user-id" value="{{request.user.id}}">
</main>

{% endblock %}

{% block extrajs %}
<script>
    const inputTxtAsk = $('#chat-input-ask')
    const btnSendAsk = $("#btn-send-ask")
    const listMessagesEl = $("#list-messages")
    const chatFormInput = $("#chat-form-input")
    const chatIdOpenEl = $('#chat-id-open')
    const listChatsEl = $('#list-chats')
    const pdfContainer = $('#pdf-obj-container')
    const body = document.querySelector('body')
    const dropArea = document.querySelector(".drag-area")
    const fileInput = dropArea.querySelector(".file-input")
    const userId = $("#user-id")
    const listaQuestion = $('#lista-question')
    const inputask = document.querySelector('#chat-input-ask')
    const questionBox = document.querySelector('#questionBox')
    const loader = $("#preloader")
    const chatHeaderActions = $("#chat-header-actions")

    let chatAtual = null

    body.addEventListener('click', function(event) {
        if(event.target.classList.contains('btn-page') && chatAtual) {
            const page = event.target.attributes['data-page'].value
            const url = `${chatAtual.documento}#page=${page}`
            loadDocumento(chatAtual.titulo, url)
        }

        if(event.target.classList.contains('choice-link-chat')) {
            const chatId = event.target.attributes['data-id'].value
            $('.choice-link-chat').removeClass('btn-info')
            event.target.classList.add('btn-info')
            getChat(chatId)
        }

        if(event.target.classList.contains('salvar-favoritos')) {
            const msgID = event.target.attributes['data-id'].value
            const favorito = event.target.attributes['data-favorito'].value
            event.target.attributes['data-favorito'].value = !(favorito === 'true')
            
            saveQuestion(msgID, favorito)
            
            event.target.classList.remove('fa-solid')
            event.target.classList.remove('fa-regular')
            
            const CF = (val) => {
                event.target.classList.add(val)
            } 

            (favorito === 'true') ? CF('fa-regular') : CF('fa-solid');
        }

        if(event.target.classList.contains('question')) {
            inputTxtAsk.val(event.target.innerText)
            listaQuestion.html('')
            questionBox.classList.add('hide')            
        } 

        if(event.target.classList.contains('btn-send-fake')) {
            const msgID = event.target.attributes['data-id'].value
            const text = $(`#${msgID}`).text()
            showLatestMessage()
            sendAsk(text)
        }
    })

    $(document).ready(() => {

        chatFormInput.submit((e) => {
            e.preventDefault()
            const ask = inputTxtAsk.val()
            inputTxtAsk.val('')
            sendAsk(ask)
        })
        
        dropArea.onclick = () => {
            fileInput.click();
        };
        let delaySearchQestion
        inputask.addEventListener('input',(e)=>{
            clearTimeout(delaySearchQestion)
            delaySearchQestion = setTimeout(()=>{getQuestion(userId.val(),e.target.value)},500)
        })
        
        fileInput.addEventListener("change", function (e) {
            const target = e.target;
            newChat(target)
        });

        dropArea.addEventListener("dragover", (event) => {
            event.preventDefault();
            dropArea.classList.add("drag-active");
        });

        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("drag-active");
        });

        dropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dropArea.classList.remove("drag-active")
            const target = e.dataTransfer;
            newChat(target)
        });
        
        if(userId.val()) {
            getUserChats(userId.val(), 'chat')
            .then((data) => data.json())
            .then((data) => fillListChats(data.results))
            .then(() => {
                const url = window.location.search
                const urlParams = new URLSearchParams(url);
                const documento = urlParams.get('documento')
                getChat(documento)
                    
                    
                let links = $('.choice-link-chat')
                links.removeClass('btn-info')

                let link = links.filter((i, e) => e.attributes['data-id'].value === documento)
                if(link.length > 0) {
                    link[0].classList.add('btn-info')
                }
            })
        }
    })


    function fillListChats(chats) {
        let list = ''

        chats.forEach((c) => {
           list += `<div class="choice-link-chat btn" data-id="${c.id}">${c.titulo}</div>`
        })

        listChatsEl.html(list)
    }

    
    function fillChat(data) {
        const {id, mensagens, titulo, documento } = data
        loadDocumento(titulo, documento, id)
        insertConversation(mensagens)
        chatAtual = data
        chatIdOpenEl.val(id)
        prepareActionsChat() 
    }

    function loadDocumento(titulo, url, id) {
        pdfContainer.html(`
            <div class="pdf-header">
                <h3>${titulo}</h3> 
            </div>
            <embed src='${url}' width="100%" height="100%">
        `)
    }


    function insertConversation(mensagens) {
        listMessagesEl.empty()

        const fakeConversation = `
            <div class="chat-message-row ai">
                <div class="chat-message" style="overflow: hidden;">
                    <div class="chat-message-txt">
                        <p><b>Bem vindo! Temos aqui algumas perguntas pré-definidas. Se desejar submetê-las clique no ícone de enviar ao lado de cada uma.</b></p>
                        <ul>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-1"></i> <span id="msg-default-1" >Resuma detalhadamente a petição inicial indicando os principais argumentos e pedidos</span></li>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-2"></i> <span id="msg-default-2">Resuma detalhadamente a contestação indicando os principais argumentos e pedidos</span></li>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-3"></i> <span id="msg-default-3">Resuma detalhadamente a sentença  indicando os principais argumentos e a decisão final</span></li>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-4"></i> <span id="msg-default-4">Resuma detalhadamente o recurso indicando os principais argumentos e pedidos</span></li>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-5"></i> <span id="msg-default-5">Resuma detalhadamente o acórdão indicando os principais argumentos e a decisão final</span></li>
                            <li><i class="btn-send-fake fa-solid fa-paper-plane" data-id="msg-default-6"></i> <span id="msg-default-6">Resuma detalhadamente o todos processo indicando as principais informações da petição inicial - contestação - sentença - recurso - acórdão -  indicando a página de cada de forma que seja possível acessar facilmente</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        `
        listMessagesEl.append(fakeConversation)

        mensagens.forEach((e) => appendConversation(e))
        showLatestMessage()

    }

    function clearChat() {
        listMessagesEl.empty()
        pdfContainer.empty()
    }

    function updateChatList(data, type) {
        if(type === 'add') {
            $('.choice-link-chat').removeClass('btn-info')
            listChatsEl.append(`<div class="choice-link-chat btn btn-info" data-id="${data.id}">${data.titulo}</div>`)
        }
        if(type === 'remove') {
            const option = listChatsEl.find(`div[data-id='${data}']`)
            option.remove()
            clearChat()
        }
    }

    function newChat(target) {
        const file = target.files[0]
        const formData = new FormData()
        formData.append('titulo', file.name)
        formData.append('documento', file)
        formData.append('ativo', true)

        $.ajax({
            type:'POST',
            url: `/documento/api/chat/`,
            data: formData,
            contentType: false,
            processData: false,
            beforeSend:() => loader.fadeIn(),
            success: (data) => {
                updateChatList(data, 'add')
                fillChat(data)
            },
            complete: () => loader.fadeOut() 
        })

    }

    function getChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'GET',
                url: `/documento/api/chat/${chatId}/?criado_por=${userId.val()}&ativo=true`,
                success: (data) => fillChat(data),
                error: (erro) => console.log(erro)
            })
        } else {
            clearChat()
        }
    }

    function deleteChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'PATCH',
                url: `/documento/api/chat/${chatId}/`,
                data: {
                    ativo: false
                },
                success: (data) => {
                    updateChatList(chatId, 'remove')
                },
                error: () => {}
            })
        }
    }

    function appendConversation(askMsg, loading=true) {
        const getAutor = (autor) => {
            const autores = { 1: 'human', 2: 'ai' }
            return autores[autor] 
        }
        const getFavoriteMSG = () => {
            if(askMsg.id && askMsg.autor === 1) {
                return `<i data-id='${askMsg.id}' style='cursor:pointer;' data-favorito='${(askMsg.is_favorito)}' class='fa-${(askMsg.is_favorito) ?  'solid' : 'regular'}  fa-star salvar-favoritos'></i>`
            }
            return ''
        }

        const getClipboardAction = (askMsg) => {
            if(askMsg.id && askMsg.autor === 2) {
                return `<div class="clipboard-btn-container" data-toggle="tooltip" data-placement="left" title="Copiar" ><i class="fa-regular fa-clipboard clipboard-btn" data-clipboard-target="#message-${askMsg.id}"></i></div>`
            }
            return ''
        }

        var regex = /\[P(\d+)\]/g;

        let textoFormatado = askMsg.texto.replaceAll('\n', '<br>')

        textoFormatado = textoFormatado.replace(regex, function(match, numero) {
            return `<span class="btn-page" data-page="${numero}">${numero}</span>`;
        });

        let row = `
                <div class="chat-message-row ${getAutor(askMsg.autor)}">
                    <div class="chat-message" style="overflow: hidden;">
                        ${getClipboardAction(askMsg)}
                        <div class="chat-message-txt" id="message-${askMsg.id}"><div> ${textoFormatado}</div> ${getFavoriteMSG()} </div>
                    </div>
                </div>
            `
        
        listMessagesEl.append(row)
    }

    function removeLoading() {
        $('#list-messages .fa-spinner').parent().parent().parent().remove()
    }

    function showLatestMessage() {
        const conversation = document.querySelector('#conversation')
        const messages = conversation.querySelectorAll('.chat-message-row')
        messages[messages.length -1].scrollIntoView()
    }

    function sendAsk(texto) {
        const data = {
            chat: chatIdOpenEl.val(),
            texto: texto,
            autor: 1
        }

        if(texto) {
            $.ajax({
                type:'POST',
                url: `/documento/api/mensagem/`,
                data: data, 
                beforeSend:() => {
                    btnSendAsk.prop("disabled", true);
                    appendConversation(data)
                    appendConversation({
                        autor: 2,
                        texto: "<i class='fa-solid fa-spinner fa-spin'></i>"
                    })
                    showLatestMessage()
                },
                success: (response) => {
                    removeLoading()
                    appendConversation(response, false)
                    prepareActionsChat() 
                },
                error: () =>  removeLoading(),
                complete: () => {
                    showLatestMessage()
                    btnSendAsk.prop("disabled", false);
                }
            })
        }
    }

    function saveQuestion(id, is_favorito){
        const data = {
            is_favorito: !(is_favorito === 'true')
        }
        if(id) {
            $.ajax({
                type:'PATCH',
                url: `/documento/api/mensagem/${id}/`,
                data: data, 
                success: (response) => {
                    console.log(response)
                },
                error: () =>  removeLoading(),
                complete: () => {
                    // showLatestMessage()
                    // btnSendAsk.prop("disabled", false);
                }
            })
        }
    }

    function getQuestion(id,question){
        if (question.trim().length > 0) {
            fetch(`/documento/api/mensagem/?criado_por=${id}&is_favorito=true&texto__icontains=${question}`)
            .then(res=>res.json())
            .then(data=>{
                const questions = data.results.reduce((acc,d) => {
                    acc += `<li class='question'>${d.texto}</li>`
                    return acc
                },'')

                if (questions.length > 0){
                    questionBox.classList.remove('hide')
                    listaQuestion.html(questions)
                }else{
                    listaQuestion.html('')
                    questionBox.classList.add('hide')
                }
                
            })
        } else{
            listaQuestion.html('')
            questionBox.classList.add('hide')

        }
    }

    function prepareActionsChat () {
        const menuActions = `
            <div id="chat-header-actions">
                <a href="/documento/export-chat-txt/${chatAtual.id}"><i class="fa-solid fa-download" data-toggle="tooltip" data-placement="bottom" title="Exportar chat"></i></a>
                <i id="remove-conversation" class="fa-solid fa-trash" data-toggle="tooltip" data-placement="bottom" title="Deletar Chat"></i>
            </div>
        `
        chatHeaderActions.html(menuActions)
        
        $("#remove-conversation").click(() => deleteChat(chatAtual.id))

        const clipboard = new ClipboardJS('.clipboard-btn');

        clipboard.on('success', function(e) {
            const el = e.trigger
            e.clearSelection();
            el.classList.remove('fa-clipboard')
            el.classList.add('fa-square-check')

            setTimeout(() => {
                el.classList.remove('fa-square-check')
                el.classList.add('fa-clipboard')
            }, 2000)
        });

        $('[data-toggle="tooltip"]').tooltip()
    }

</script>
{% endblock %}