
{% extends 'chat_base.html' %}
{% load static %}



{% block title %} 
{% if api == 'chat' %}
<title>Martinha</title>
{% endif %} 
{% if api == 'media-transcricao' %}
<title>Sr. Tanaka</title>
{% endif %}
{% endblock %}


{% block favicon %} 
{% if api == 'chat' %}
<link rel="icon" type="image/x-icon" href="{% static 'imagens/martinha-novo-favicon.ico' %}">
{% endif %} 
{% if api == 'media-transcricao' %}
<link rel="icon" type="image/x-icon" href="{% static 'imagens/tanaka-favicon.ico' %}">
{% endif %}
{% endblock %}


{% block extrastyle %}

<style>
body  {
    background-image: url("{% if api == 'chat' %}{% static 'imagens/background_verde.jpg' %}{% else %}{% static 'imagens/background-green-lines.jpg' %}{% endif %}");
    background-size:cover;
    -webkit-animation: slidein 50s;
    animation: slidein 50s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;              
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:2000px; }
    to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
    from {background-position: top;background-size:2000px; }
    to {background-position: -100px 0px;background-size:2750px;}
}

.texto-body-input{
    border: 1px dashed gray;
    background-color: white;
    padding: 0.2em;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.texto-body{
    padding: 1em;
    background: #fff;
    box-shadow: 0px 2px 3px 0px gray;
    border-radius: 10px;
}
.conteudo{
    max-width: 800px;
    height: calc(100vh - 95px);
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#grid-documentos-chats ,#grid-pergunta-chats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.texto-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.texto-header h2 {
    font-weight: bold;
    color: #fff;
}

.titulo-header{
    font-weight: 900;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}
.documento-chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1677ff;
    gap: 10px;
}

.conteudo-documentos {
    /* display: flex;
    flex-direction: column;
    gap: 1em; */
    /* box-shadow: 0px 2px 3px 0px gray; */
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.conteudo-documentos table {
    width: 100%;
}


.titulo-header{
    box-shadow: 0px 0px 2px 0px gray;
    padding: 1em;
    border-radius: 4px 4px 0px 0px;
}

.drag-area-content{
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    color: #6e6e6e;
}
.drag-area-content img {
    margin-bottom: 10px;
}

.drag-area{
    width: 100%;
    background-color: white;
    border: 1px dashed gray;
    padding: 0.2em;
    border-radius: 10px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.btn-remove-chat,.btn-remove-question {
    cursor: pointer;
}

.drag-active {
    background-color: #dcdcdc !important;
}

.nova-pergunta-bloco{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: baseline;
}

.cab {
    display: flex;
    flex-direction: row;
    padding: 0em 1em;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.cab a {
    color: #fff;
    font-weight: bold;
}
.cab a i {
    margin-right: 5px;
}

#table-documentos-medias th, #table-documentos-medias td {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

#table-documentos-medias td.td-actions {
    text-align: right;
}
#table-documentos-medias td.td-actions a {
    margin-right: 5px;
}

.homenagem-principal {
    display: flex;
    justify-content: center;
    align-items: center;
}
.homenagem-principal h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 22px;
}
.homenagem-principal img {
    width: 150px;
}
.aviso {
    color: gray;
    margin-top: 10px;
    font-size: 12px;
}

.link-acesso {
    text-align: center;
    display: none;
}
.link-acesso a {
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

#table-documentos-medias .progress {
    max-width: 180px;
    margin: 0 auto;
}
#table-documentos-medias .progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    0% { background-position: 40px 0; }
    100% { background-position: 0 0; }
}

#table-documentos-medias .bg-danger {
    background-color: #ff0000 !important;
}
#table-documentos-medias .bg-success {
    background-color: #5cb85c !important;
}
#table-documentos-medias .bg-info {
    background-color: #00c0ef !important;
}

</style>
{% endblock %}

{% block conteudo %}
<div class="cab">
    <div></div>
    <!-- {% if api == 'chat' %}
    <img src="{% static 'imagens/logo_ia_documentos.png' %}" alt="" width="250">
    {% endif %} 
    {% if api == 'media-transcricao' %}
    <img src="{% static 'imagens/logo_ia_video.png' %}" alt="" width="250">
    {% endif %} -->

    <img style="margin-left: 70px;" src="{% static 'imagens/defensoria_logo_branca.png' %}" alt="" width="240">
    
    <div style="display: flex; gap: 1em;">
        {% if request.user.is_superuser %}
        <a href="/admin/documento" ><i class="fa-solid fa-home"></i> Admin</a>
        {% endif %}
        <a href="/admin/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
    </div>
</div>
<div class="conteudo">
    {% if api == 'media-transcricao' %}
    <div class="homenagem-principal">
        <img src="{% static 'imagens/tanaka.png' %}" alt="">
        <h2>Sr. Tanaka</h2>
    </div>
    {% endif %}
    {% if api == 'chat' %}
    <div class="homenagem-principal">
        <img src="{% static 'imagens/martinha_novo.png' %}" alt="">
        <h2>Martinha</h2>
    </div>
    {% endif %}
    <div class="texto-body">
        <!-- <div class="texto-body-input"> -->
            <div class="drag-area">
                <div class="drag-area-content">
                    <div>
                        <img src="{% if api == 'chat' %} {% static 'imagens/nuvem_pdf.png' %} {% else %} {% static 'imagens/nuvem_youtube.png' %} {% endif %}" width="100" alt="">
                        <!-- <i class="fa-sharp fa-solid fa-cloud-arrow-up" style="color:#00c0ef;font-size:3em"></i> -->
                    </div>
                    <div class="drag-file">Arraste e solte o {% if api == 'chat' %}PDF {% else %} vídeo {% endif %} ou <span style="color: #00c0ef;text-decoration: underline;cursor: pointer;"> clique aqui!</span></div>
                    <input type="file" class="file-input" style="display: none;" />
                    {% if api == 'chat' %}
                    <div class="aviso">
                        *Limites: {{config.DOCUMENTO_LIMITE_UPLOAD_PDF}} arquivos p/ mês de até 32mb cada e {{config.DOCUMENTO_LIMITE_PERGUNTAS_PDF}} perguntas por arquivo
                    </div>
                    {% endif %}

                    {% if api == 'media-transcricao' %}
                    <div class="aviso">
                        *Limites: {{config.DOCUMENTO_LIMITE_UPLOAD_VIDEO}} videos p/ mês de até 200mb cada
                    </div>
                    {% endif %}
                </div>  
            </div>      
        <!-- </div> -->
    </div>

    <div id="meus_documentos">
        
        <div class="conteudo-documentos" style="display: none;">
            <table>
                <thead>
                    <th style="width: 55%;"></th>
                    <th style="width: 33%;"></th>
                    <th style="width: 12%;"></th>
                </thead>
                <tbody id="table-documentos-medias"></tbody>
            </table>
        </div>

        <div class="link-acesso">
            {% if api == 'chat' %}
            <a href="/documento/chat/">Acessar meus itens enviados</a>
            {% endif %}
            {% if api == 'media-transcricao' %}
            <a href="/documento/transcricao/">Acessar meus itens enviados</a>
            {% endif %}
        </div>
    </div> 
    <br>
</div>
<input type="hidden"  id="user-id" value="{{request.user.id}}">
{% endblock %}

{% block extrajs %}
<script>

    const dropArea = document.querySelector(".drag-area")
    const fileInput = dropArea.querySelector(".file-input")
    const userId = $("#user-id")
    const gridChats = $("#grid-documentos-chats")
    const gridQuestion = $("#grid-pergunta-chats")
    const body = document.querySelector('body')
    const tableDocumentosMedias = $("#table-documentos-medias")
    const loader = $("#preloader")
    const dominio = '{{api}}'

    $(document).ready(() => {

        $.ajaxSetup({
            headers: {"X-CSRFToken": '{{ csrf_token }}' },
        });

        if(dominio === 'chat') {
            fileInput.accept = documentType.join(',')
        } else {
            fileInput.accept = mediaTranscriptionTypes.join(',')
        }

        body.addEventListener('click', function(event) {
            if(event.target.classList.contains('btn-remove-chat')) {
                const chatId = event.target.attributes['data-remove-id'].value
                deleteChat(chatId)
                // event.target.parentElement.parentElement.remove()
            }

            if(event.target.classList.contains('btn-remove-question')) {
                const chatId = event.target.attributes['data-id'].value
                deleteQuestion(chatId)
                event.target.parentElement.parentElement.remove()
            }        
        })


        fileInput.addEventListener("change", function (e) {
            const target = e.target;
            if(validateDocument(target)){
                const isTranscription = getIsTranscription(target)
                if(isTranscription) newTranscription(target)
                else newChat(target)
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Tipo de arquivo não suportado",
                }).then(() => {
                    window.location.reload()
                });
            }
        });
        dropArea.onclick = () => {
            fileInput.click();
        };

        dropArea.addEventListener("dragover", (event) => {
            event.preventDefault();
            dropArea.classList.add("drag-active");
        });

        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("drag-active");
        });

        dropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dropArea.classList.remove("drag-active")
            const target = e.dataTransfer;
            if(validateDocument(target)){
                const isTranscription = getIsTranscription(target)
                if(isTranscription) newTranscription(target)
                else newChat(target)
            }else{
                Swal.fire({
                    icon: "error",
                    title: "Tipo de arquivo não suportado",
                }).then(() => {
                    window.location.reload()
                });
            }
        });        
        getDocumentsChats()
        setInterval(() => getDocumentsChats(), 13000)
    })  

    function getDocumentsChats() {
        
        if(userId.val()) {
            getUserChats(userId.val(), '{{api}}')
            .then((data) => data.json())
            .then((data) => {
                const { results } = data;
                if(dominio === "media-transcricao") {
                    if(results.length) {
                        const ultimo = results.filter(i => i.visualizado === false)[0]
                        if (ultimo) {
                            fillListChats([ultimo])
                        } else {
                            $(".conteudo-documentos").fadeOut()
                        }
                    }

                    const concluido = results.filter(i => i.status === 4)
                    if(concluido.length) $('.link-acesso').fadeIn()  
                } else {
                    if(results.length) {
                        $('.link-acesso').fadeIn()
                    }
                }
            })
        }
    }

    function validateDocument(target){
        const file = target.files[0]
        if(dominio === 'chat') {
            return documentType.indexOf(file.type) != -1
        } 
        return mediaTranscriptionTypes.indexOf(file.type) != -1
    }

    function getIsTranscription(target){
        const file = target.files[0]
        return mediaTranscriptionTypes.indexOf(file.type) != -1
    }

    function newChat(target) {
        const file = target.files[0]
        const formData = new FormData()
        formData.append('titulo', file.name)
        formData.append('documento', file)
        formData.append('ativo', true)

        if(isValidSizes(maxFileSizePdf, file)) {
            $.ajax({
                type:'POST',
                url: `/documento/api/chat/`,
                beforeSend: () => loader.fadeIn(),
                data: formData,
                contentType: false,
                processData: false,
                success: (data) => {
                    window.location.href = `/documento/chat/?documento=${data.id}`
                },
                error: (error) => {
                    const mensagem = (error?.responseJSON?.mensagem) ? error?.responseJSON?.mensagem : "Houve um erro ao fazer o upload."

                    Swal.fire({
                        icon: "error",
                        title: mensagem,
                    }).then(() => {
                        window.location.reload()
                    });
                },
                complete: () => loader.fadeOut()
            })
        }

    }

    function newTranscription(target) {
        const file = target.files[0]
        const tipo = audioTypes.indexOf(file.type) != -1 ? 2 : 1
        const formData = new FormData()
        formData.append('titulo', file.name)
        formData.append('arquivo', file)
        formData.append('ativo', true)
        formData.append('tipo', tipo)

        if(isValidSizes(maxFileSizeMedia, file)) {
            $.ajax({
                type:'POST',
                url: `/documento/api/media-transcricao/`,
                beforeSend: () => loader.fadeIn(),
                data: formData,
                contentType: false,
                processData: false,
                success: (data) => {
                    window.location.reload()
                },
                error: (error) => {
                    const mensagem = (error?.responseJSON?.mensagem) ? error?.responseJSON?.mensagem : "Houve um erro ao fazer o upload."

                    Swal.fire({
                        icon: "error",
                        title: mensagem,
                    }).then(() => {
                        window.location.reload()
                    });
                },
                complete: () => loader.fadeOut()
            })
        }
    }
    
    function fillListChats(chats) {
        let list = ''

        const getIcon = (status) => {
            const icons = {
                1: { icon: '<i class="fa-solid fa-hourglass-half fa-fade" style="color:orange"></i>', color: 'orange'},
                2: { icon:'<i class="fa-solid fa-circle-notch fa-spin" style="color:orange"></i>', color: 'orange'},
                3: { icon:'<i class="fa-solid fa-circle-notch fa-spin" style="color:orange"></i>', color: 'orange'},
                4: { icon:'<i class="fa-regular fa-circle-check" style="color: #5cb85c"></i>', color: '#5cb85c'},
                5: { icon:'<i class="fa-solid fa-ban"></i>', color: 'orange'},
                6: { icon:'<i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>', color: '#ff0000'},
                7: { icon:'<i class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i>', color: '#ff0000'},
            }

            return icons[status] || icons[1]
        }

        const getProgress = (status) => {
            const progress = {
                1: { percent: 15, classColor: 'progress-bar-striped progress-bar-animated bg-info', color: '#00c0ef'},
                2: { percent: 50, classColor: 'progress-bar-striped progress-bar-animated bg-info', color: '#00c0ef'},
                3: { percent: 75, classColor: 'progress-bar-striped progress-bar-animated bg-info', color: '#00c0ef'},
                4: { percent: 100, classColor: 'bg-success', color: '#5cb85c'},
                5: { percent: 100, classColor: 'bg-danger', color: '#ff0000'},
                6: { percent: 100, classColor: 'bg-danger', color: '#ff0000' },
                7: { percent: 100, classColor: 'bg-danger', color: '#ff0000' },
            }

            return progress[status] || progress[1]
        }

        if(chats[0] && chats[0].chatpdf_source_id) {
            chats.forEach((c) => {
                list += `
                    <tr>
                        <td>${c.titulo}</td>
                        <td></td>
                        <td>
                            <a class="btn" href="/documento/{{redirect}}=${c.id}">
                                <i style="color:#00c0ef" class='fa fa-eye'></i>
                            </a>
                            <i data-remove-id='${c.id}' style="color:red" class='fa fa-trash btn-remove-chat'></i>    
                        </td>
                    </tr>
                `
            })
        } else {
            chats.forEach((c) => {
                // const indicator = getIcon(c.status)
                const progress = getProgress(c.status)
                list += `
                    <tr>
                        <td>${c.titulo}</td>
                        <td> 
                            <div class="progress">
                                <div class="progress-bar ${progress.classColor}" role="progressbar" style="width: ${progress.percent}%;" aria-valuenow="${progress.percent}" aria-valuemin="0" aria-valuemax="100">${progress.percent}%</div>
                            </div>
                            <small style="color:${progress.color}">${c.status_str}</small>
                        </td>
                        <td class="td-actions">
                            ${c.status === 4 ? 
                                `<a href="/documento/{{redirect}}=${c.id}">
                                    <i style="color:#00c0ef" class='fa fa-eye'></i>
                                </a>` : ''}
                            
                            ${[1, 6, 7].includes(c.status)  ? 
                                `<i data-remove-id='${c.id}' style="color:red" class='fa fa-trash btn-remove-chat'></i>    
                                ` : ``}
                        </td>
                    </tr>
                `
            })
            $(".conteudo-documentos").fadeIn()
        }

        tableDocumentosMedias.html(list)
    }

    function deleteChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'PATCH',
                url: `/documento/api/{{api}}/${chatId}/`,
                data: {
                    ativo: false
                },
                complete: () => {
                    getDocumentsChats()
                },
            })
        } 
    }

    function deleteQuestion(chatId) {
        if(chatId) {
            $.ajax({
                type: 'PATCH',
                url: `/documento/api/mensagem/${chatId}/`,
                data: {
                    is_favorito: false
                },
                success: (data) => {
                    
                },
                error: () => {}
            })
        } 
    }    

    function getQuestion(id){
        fetch(`/documento/api/mensagem/?criado_por=${id}&is_favorito=true`)
        .then(res=>res.json())
        .then(data=>{
            const questions = data.results.reduce((acc,d) => {
                acc += `<div class='question-div'>
                            <i style='font-weight: 900;' class="fa-regular fa-circle-question"></i>
                            <div>
                                ${d.texto}
                                <i style='color:#00c0ef;' data-id='${d.id}' class="fa fa-trash btn-remove-question"></i>
                            </div>
                        </div>`
                return acc
                
            },'')
            if(questions.length == 0){
               $('#perguntas_favoritas').hide()
            }
            gridQuestion.html(questions)
        })
    }     
    getQuestion(userId.val())      
</script>
{% endblock %}