
{% extends 'chat_base.html' %}
{% load static %}

{% block title %} 
{% if api == 'chat' %}
<title>Martinha</title>
{% endif %} 
{% if api == 'media-transcricao' %}
<title>Sr. Tanaka</title>
{% endif %}
{% endblock %}


{% block favicon %} 
{% if api == 'chat' %}
<link rel="icon" type="image/x-icon" href="{% static 'imagens/martinha-novo-favicon.ico' %}">
{% endif %} 
{% if api == 'media-transcricao' %}
<link rel="icon" type="image/x-icon" href="{% static 'imagens/tanaka-favicon.ico' %}">
{% endif %}
{% endblock %}


{% block extrastyle %}
<style>
    body  {
        background-image: url("{% if api == 'chat' %}{% static 'imagens/background_verde.jpg' %}{% else %}{% static 'imagens/background-green-lines.jpg' %}{% endif %}");
    }
</style>

<link rel="stylesheet" href="{% static 'documento/dashboard.css' %}?v=1.2">
{% endblock %}

{% block conteudo %}
<div class="cab">
    <div></div>
    <img style="margin-left: 70px;" src="{% static 'imagens/defensoria_logo_branca.png' %}" alt="" width="240">
    
    <div style="display: flex; gap: 1em;">
        {% if request.user.is_superuser %}
        <a href="/admin/documento" ><i class="fa-solid fa-home"></i> Admin</a>
        {% endif %}
        <a href="/admin/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
    </div>
</div>
<div class="conteudo">
    {% if api == 'media-transcricao' %}
    <div class="homenagem-principal">
        <img src="{% static 'imagens/tanaka.png' %}" alt="">
        <h2>Sr. Tanaka</h2>
    </div>
    {% endif %}
    {% if api == 'chat' %}
    <div class="homenagem-principal">
        <img src="{% static 'imagens/martinha_novo.png' %}" alt="">
        <h2>Martinha</h2>
    </div>
    {% endif %}
    <div class="texto-body">
            <div class="drag-area">
                <div class="drag-area-content">
                    <div>
                        <img src="{% if api == 'chat' %} {% static 'imagens/nuvem_pdf.png' %} {% else %} {% static 'imagens/nuvem_youtube.png' %} {% endif %}" width="100" alt="">
                    </div>
                    <div class="drag-file">Arraste e solte o {% if api == 'chat' %}PDF {% else %} vídeo {% endif %} ou <span style="color: #00c0ef;text-decoration: underline;cursor: pointer;"> clique aqui!</span></div>
                    <input type="file" class="file-input" style="display: none;" />
                    {% if api == 'chat' %}
                    <div class="aviso">
                        <b>*</b> ferramenta experimental disponibilizada para testes<br>
                        <b>**</b> acessivel somente por computadores conectados à rede da DPGECE <br>
                        <!-- *Limites: {{config.DOCUMENTO_LIMITE_UPLOAD_PDF}} arquivos p/ mês de até 32mb cada e {{config.DOCUMENTO_LIMITE_PERGUNTAS_PDF}} perguntas por arquivo -->
                    </div>
                    {% endif %}

                    {% if api == 'media-transcricao' %}
                    <div class="aviso">
                        <b>*</b> ferramenta experimental disponibilizada para testes<br>
                        <b>**</b> acessivel somente por computadores conectados à rede da DPGECE <br>
                        <b>***</b> os vídeos ficarão disponiveis por 30 dias <br>
                        <!-- *Limites: {{config.DOCUMENTO_LIMITE_UPLOAD_VIDEO}} videos p/ mês de até 200mb cada -->
                    </div>
                    {% endif %}
                </div>  
            </div>      
    </div>

    <div id="meus_documentos">
        
        <div class="conteudo-documentos" style="display: none;">
            <table>
                <thead>
                    <th style="width: 55%;"></th>
                    <th style="width: 33%;"></th>
                    <th style="width: 12%;"></th>
                </thead>
                <tbody id="table-documentos-medias"></tbody>
            </table>
        </div>

        <div class="link-acesso">
            {% if api == 'chat' %}
            <a href="/documento/chat/">Acessar meus itens enviados</a>
            {% endif %}
            {% if api == 'media-transcricao' %}
            <a href="/documento/transcricao/">Acessar meus itens enviados</a>
            {% endif %}
        </div>
    </div> 
    <br>
</div>
<input type="hidden"  id="user-id" value="{{request.user.id}}">
<input type="hidden" id="dominio" value="{{api}}">
<input type="hidden" id="redirect" value="{{redirect}}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'documento/dashboard.js' %}?v=1.1"></script>
{% endblock %}