{% extends 'admin/base.html' %}
{% load static %}

{% block extrastyle %}

<style>
    main {
        padding: 10px;
    }

    main #toolbar {
        width: 100%;
        padding: 15px 10px 10px 10px;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    main #document {
        overflow: hidden;
        padding-top: 10px;
        gap: 10px;
        display: flex;
        height: 800px;
        justify-content: space-between;
       
    }
    main #document #pdf {
        flex: 65 1 0px;
        overflow: hidden;
        border: 1px solid lightgrey;
        padding: 10px;
    }
    main #document #chat {
        flex: 35 1 0px;
        overflow: hidden;
        border: 1px solid lightgray;
    }
    .chat-message-row {
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

    .chat-message-row.ai {
        justify-content: flex-start;
    }
    .chat-message-row.human {
        justify-content: flex-end;
    }

    .chat-message-row.ai .chat-message {
        background-color: #f9f9fe;
    }

    .chat-message-row.human .chat-message {
        background-color: #1777ff;
        color: #fff;
    }
    .chat-message {
        max-width: 500px;
        border-radius: 8px;
        padding: 6px 12px;
        box-shadow: 0 0 3px #d1d2da;
    }

    .chat-header {
        height: 42px;
        padding: 0px 6px;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    #conversation {
        flex-grow: 1;
        overflow: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #chat-footer {
        display: flex;
        justify-content: center;
    }

    #chat-form-input {
        margin: 10px 0px 10px;
        width: 100%;
        padding: 0px 10px;
        max-width: 768px;
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        align-self: center;
    }
     #chat-form-input input[type=text] {
        padding: 0 5px;
        width: 100%;
        height: 32px;
        margin: 0;
        box-sizing: border-box;
    }

     #chat-form-input button {
        background-color: #1777ff;
        width: 40px;
        height: 32px;
    }
    .conversation-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: calc(100% - 42px);
    }
    #list-messages {
        width: 100%;
        padding: 0 10px;
    }
    .drag-area {
        padding: 10px;
        text-align: center;
        border: 3px dashed #ccc;
        cursor: pointer;
    }
    .drag-active {
        background-color: rgba(0, 99, 177, 0.1);
    }
    .drag-area i {
        font-size: 1.5rem;
    }
    .drag-area .drag-area-content {
        margin-top: 10px;
    }
    .input-file-section {
        width: 200px;
    }

</style>

{% endblock %}


{% block page_content %}

<main>
    <section id="toolbar">
        <div class="input-file-section">
            <div class="drag-area">
                <i class="fa fa-solid fa-add"></i><span> Novo chat</span> 
                <div class="drag-area-content">
                    <p class="drag-file">Solte o PDF aqui</p> 
                </div>
                <input type="file" class="file-input" style="display: none;" />
            </div>
        </div>

        <div class="select-chat-section">
            <div class="form-group">
                <label class="control-label text-right">Meus chats</label>
                <div>
                    <select id="list-chats">
                        <option value="">-------------</option>
                        {% for c in chats %}
                        <option value="{{c.id}}">{{c.titulo}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn" id="btn-remove-chat"  type="button" ><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
    </section>
    <section id="document">
        <div id="pdf">
            <div id="pdf-obj-container"></div>
        </div>
        <div id="chat">
            <div class="chat-header">
                <h3>Chat</h3>
            </div>
            <div class="conversation-container">
                <div id="conversation">
                    <div id="list-messages"></div>
                </div>
                <div id="chat-footer">
                    <form id="chat-form-input">
                        <input type="text" id="chat-input-ask" />
                        <button type="submit" class="btn" id="btn-send-ask">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
   
    <input type="hidden" id="chat-id-open">
</main>

{% endblock %}


{% block extrajs %}
<script>
    const inputTxtAsk = $('#chat-input-ask')
    const btnSendAsk = $("#btn-send-ask")
    const listMessagesEl = $("#list-messages")
    const chatFormInput = $("#chat-form-input")
    const chatIdOpenEl = $('#chat-id-open')
    const listChatsEl = $('#list-chats')
    const pdfContainer = $('#pdf-obj-container')
    const btnRemoveChat = $('#btn-remove-chat')


    const dropArea = document.querySelector(".drag-area")
    const fileInput = dropArea.querySelector(".file-input")
    


    $(document).ready(() => {
        chatFormInput.submit((e) => {
            e.preventDefault()
            const ask = inputTxtAsk.val()
            inputTxtAsk.val('')
            sendAsk(ask)
        })
        
        listChatsEl.change((e) => {
            const chatId = e.target.value
            getChat(chatId)
        })

        btnRemoveChat.click(() => {
            const chatId =  listChatsEl.val()
            deleteChat(chatId)
        })

        dropArea.onclick = () => {
            fileInput.click();
        };

        fileInput.addEventListener("change", function (e) {
            const target = e.target;
            newChat(target)
        });

        dropArea.addEventListener("dragover", (event) => {
            event.preventDefault();
            dropArea.classList.add("drag-active");
        });

        dropArea.addEventListener("dragleave", () => {
            dropArea.classList.remove("drag-active");
        });

        dropArea.addEventListener("drop", (e) => {
            e.preventDefault();
            dropArea.classList.remove("drag-active")
            const target = e.dataTransfer;
            newChat(target)
        });
    })


    
    function fillChat(data) {
        const {id, mensagens, titulo, documento } = data
        loadDocumento(titulo, documento)
        insertConversation(mensagens)

        chatIdOpenEl.val(id)
    }

    function loadDocumento(titulo, url) {
        pdfContainer.html(`
            <h3>${titulo}</h3> <br>
            <embed src='${url}' width="100%" height="800">
        `)
    }


    function insertConversation(mensagens) {
        listMessagesEl.empty()
        mensagens.forEach((e) => appendConversation(e))

    }

    function clearChat() {
        listMessagesEl.empty()
        pdfContainer.empty()
    }

    function updateChatList(data, type) {
        if(type === 'add') {
            listChatsEl.append(`<option value="${data.id}"> ${data.titulo}</option>`)
        }
        if(type === 'remove') {
            const option = listChatsEl.find(`option[value='${data}']`)
            option.remove()
            clearChat()
        }
    }

    function newChat(target) {
        const file = target.files[0]
        const formData = new FormData()
        formData.append('titulo', file.name)
        formData.append('documento', file)
        formData.append('ativo', true)

        $.ajax({
            type:'POST',
            url: `/documento/api/chat/`,
            data: formData,
            contentType: false,
            processData: false,
            success: (data) => {
                updateChatList(data, 'add')
                fillChat(data)
            }
        })

    }

    function getChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'GET',
                url: `/documento/api/chat/${chatId}`,
                success: (data) => fillChat(data),
            })
        } else {
            clearChat()
        }
    }

    function deleteChat(chatId) {
        if(chatId) {
            $.ajax({
                type: 'PATCH',
                url: `/documento/api/chat/${chatId}/`,
                data: {
                    ativo: false
                },
                success: (data) => {
                    updateChatList(chatId, 'remove')
                },
                error: () => {}
            })
        }
    }


    function appendConversation(askMsg) {
        const getAutor = (autor) => {
            const autores = { 1: 'human', 2: 'ai' }
            return autores[autor] 
        }

        let row = `
                <div class="chat-message-row ${getAutor(askMsg.autor)}">
                    <div class="chat-message" style="overflow: hidden;">
                        <div class="chat-message-txt">${askMsg.texto}</div>
                    </div>
                </div>
            `

        listMessagesEl.append(row)
    }

    function sendAsk(texto) {
        $.ajax({
            type:'POST',
            url: `/documento/api/mensagem/`,
            data: {
                chat: chatIdOpenEl.val(),
                texto: texto,
                autor: 1
            },
            success: (data) => {
                appendConversation(data)
            },
        })
    }


</script>
{% endblock %}