{% extends 'chat_base.html' %}
{% load static %}

{% block title %} 
<title>Sr. Tanaka</title>
{% endblock %}

{% block favicon %} 
<link rel="icon" type="image/x-icon" href="{% static 'imagens/tanaka-favicon.ico' %}">
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'documento/transcricao.css' %}?v=1.4">
{% endblock %}

{% block conteudo %}
<main>
    <section id="document-header">
        <div class="logo-interna-homenagem">
            <img src="{% static 'imagens/tanaka.png' %}" alt="">
            <h2>Sr. Tanaka</h2>
        </div>
        <img style="margin-left: -115px;" src="{% static 'imagens/defensoria_logo_branca.png' %}" alt="" width="200">
        <div class="document-header-links">
            <a href="/documento/tanaka/"><i class="fa-solid fa-house"></i> Dashboard </a>
            <a href="/admin/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a>
        </div>
        </div>
    </section>
    <section id="document">
        <div id="toolbar">
            <div class="input-file-section">
                <div class="drag-area">
                    <i class="fa-sharp fa-solid fa-cloud-arrow-up" style="color:#00c0ef; font-size: 20px;"></i><span></span> 
                    <div class="drag-area-content">
                        <p class="drag-file"><b>Arraste/solte ou clique aqui</b></p> 
                    </div>
                    <input type="file" class="file-input" style="display: none;" />
                </div>
            </div>
            <div class="select-transcricao-section">
                <div id="list-Transcricoes"></div>
            </div>
        </div>

        <div id="transcricao">
            <div class="transcricao-header">
                <div id="transcricao-form-input">
                    <input autocomplete="off" type="text" id="transcricao-input-ask" />
                    <button class="btn" id="btn-find-text">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="conversation-container">
                <div id="conversation">
                    <div id="list-messages"></div>
                </div>
                <div id="transcricao-footer"></div>
            </div>
        </div>
        <div id="media">
            <div id="media-obj-container"></div>
        </div>
    </section>
   
    <input type="hidden" id="transcricao-id-open">
    <input type="hidden"  id="user-id" value="{{request.user.id}}">
</main>
{% endblock %}

{% block extrajs %}
<script src="{% static 'documento/transcricao.js' %}?v=1.6"></script>
{% endblock %}